variables:
  CURRENT_CI_IMAGE: "13"
  CI_IMAGE_DOCKER: 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/dd-sdk-android-gradle-plugin:$CURRENT_CI_IMAGE
  GIT_DEPTH: 5

  DD_SERVICE: "dd-sdk-android-gradle-plugin"
  DD_ENV_TESTS: "ci"
  DD_INTEGRATION_JUNIT_5_ENABLED: "true"
  DD_CIVISIBILITY_ENABLED: "true"
  DD_INSIDE_CI: "true"
  DD_COMMON_AGENT_CONFIG: "dd.env=ci,dd.trace.enabled=false,dd.jmx.fetch.enabled=false"

  EMULATOR_NAME: "android_emulator"
  ANDROID_ARCH: "arm64-v8a"
  ANDROID_API: "36"
  ANDROID_EMULATOR_IMAGE: "system-images;android-$ANDROID_API;google_apis;${ANDROID_ARCH}"
  ANDROID_PLATFORM: "platforms;android-$ANDROID_API"
  ANDROID_BUILD_TOOLS: "build-tools;$ANDROID_API.0.0"

  KUBERNETES_MEMORY_REQUEST: "8Gi"
  KUBERNETES_MEMORY_LIMIT: "20Gi"

include:
  - local: 'ci/pipelines/default-pipeline.yml'
    rules:
      - if: '$CI_PIPELINE_KEY == null'
  - local: 'ci/pipelines/check-release-pipeline.yml'
    rules:
      - if: '$CI_PIPELINE_KEY == "check-release"'
